[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-jazzmin = "*"
pillow = "*"
django-admin-thumbnails = "*"
faker = "*"
coverage = "*"
gunicorn = "*"
python-dotenv = "==0.21.1"
whitenoise = "==6.6.0"
django = "==3.2.3"

[dev-packages]

[requires]
python_version = "3.11"
